body {
    color : #333;
    text-align: center;
    font-size:  16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#cabecera {
    background:#33A ;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;

}

#cabecera #tagline{
    margin: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container {
    width: 70%;
    background: white;
    padding: 0;
    text-align: left;
    border:  1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post {
    padding : 1em
}

pre {
    background:#CFCDCD;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#comandos p {
    margin-bottom: 3px;
}

#comandos pre {
    margin-top: 0px;
}

body {
    background: black;
}

#footer {
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}

#imgEquipo{
    width: 100%;
    border-radius: 5%;
    object-fit: cover;
    border:  1px solid gray
}